<mat-sidenav-container class="background-none shadow-none">
  <mat-spinner *ngIf="isLoading$ | async; else produit" style="margin:0 auto;"></mat-spinner>
  <ng-template #produit>
    <div class="example-container">
      <form [formGroup]="produitForm" (ngSubmit)="updateProduit()">
        <mat-form-field>
          <input matInput placeholder="Nom du produit" formControlName="nom">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Catégorie" formControlName="categorieIds"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Prix" formControlName="prix" type="number">
        </mat-form-field>


        <mat-form-field>
          <mat-label>Couleur</mat-label>
          <mat-select formControlName="couleur">
            <mat-option></mat-option>
            <mat-option value="black">Black</mat-option>
            <mat-option value="white">White</mat-option>
            <mat-option value="green">Green</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Rabais" formControlName="rabais" type="number">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Statut"  formControlName="statut">
            <mat-option value=""></mat-option>
            <mat-option value="normal">Normal</mat-option>
            <mat-option value="promo">Promo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Statur</mat-label>
          <mat-select formControlName="statut">
            <mat-option></mat-option>
            <mat-option value="normal">Normal</mat-option>
            <mat-option value="promo">Promo</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Image" formControlName="image">
        </mat-form-field>



        <section class="example-section">
          <mat-checkbox formControlName="promotion">Promotion</mat-checkbox>
        </section>

        <button type="submit"  color="primary" mat-button>Update</button>
      </form>
    </div>
  </ng-template>

  <div class="error-msg" *ngIf="error$ | async as error">
    <p>{{ error }}</p>
  </div>
</mat-sidenav-container>



