<mat-sidenav-container class="background-none shadow-none">
  <mat-spinner *ngIf="isLoading$ | async; else productList" style="margin:0 auto;"></mat-spinner>
  <ng-template #productList>
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="20" fxFlex.gt-xs="33.3333%" fxFlex="100">

        <mat-card class="pa-0" > <!-- -->
          <div class="media-grid" *ngIf="(produit$ | async) as product">
            <figure style="background-color:white; height: 245px;">
              <!--              <div class="product-badge" *ngIf="product.statut === 'promo'"><span>Sale</span></div>-->
              <div class="product-badge" *ngIf="product.promotion"><span>Sale</span></div>
              <img src="assets/images/{{ product.image }}.jpg" height="245px">
              <figcaption>
                <!--<p>
                  <a (click)="addProductCart(product)" matTooltip="Add to cart" matTooltipPosition="left">
                    <mat-icon>add_shopping_cart</mat-icon>
                  </a>
                </p>-->
              </figcaption>
            </figure>
          </div>
          <mat-card-content class="pa-1">
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="produit$ | async">
              <div fxFlex>
                <p class="ma-0">{{ (produit$ | async).nom }}</p>
                <p class="ma-0 pa-0 text-md">{{ (produit$ | async).description }}</p>
                <p class="ma-0 pa-0 text-md">{{ (produit$ | async).prix }}</p>
              </div>
              <div class="mat-text-primary text-xl">

              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </ng-template>
  <div class="error-msg" *ngIf="error$ | async as error">
    <p>{{ error }}</p>
  </div>

</mat-sidenav-container>

<mat-sidenav-container class="background-none shadow-none">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>

      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</mat-sidenav-container>
